@import "tailwindcss";
@font-face {
  font-family: "BankGothic Md BT";
  src: url("/fonts/BankGothicMdBT.ttf") format("truetype");
}

.font-bank-gothic {
  font-family: "BankGothic Md BT", sans-serif;
}